/* Global Styling */

body {
  padding: 4em;
  background: white;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.btn {
  border-radius: 1em !important;
}

/* main header styling */
.header {

  padding-bottom: 60px;
}

.custom-restricted {
  height: 700px;
  width: auto;
}

/* DAYTRIPPER title styling */
.column-1 {
  /* margin-right: 30px; */
  padding-left: 40px;
  /* padding-right: 10px;
  text-align: left;
  align-content: space-around; */
}

.main-title{
    font-family: 'Satisfy', cursive;
    color: #F22797 !important;
    text-shadow: 1px 1px #04D9C4;
    font-size: xx-large;
    text-transform : capitalize !important;
    text-align: center;
}

.col-title {
  font-family: 'Satisfy', ;
  color: black !important;
  text-shadow: 1px 1px #04D9C4;
  font-size: x-large;
  text-transform: capitalize !important;
  text-align: left;
  line-height: 50px;
}

/* Sidebar Formatting and Styling */
.menu-title {
  font-family: 'Satisfy', cursive;
  color: black !important;
  font-size: medium;
  text-transform: capitalize !important;

}

#user-input {
  align-content: flex-start;
}

.sidebar-title {
  font-weight: bolder;
  font-size: medium;
  color: black !important;
  text-shadow: 1px 1px #F22797;

}

.sidebar-box {
  margin-bottom: 20px !important;
}

.sidebar-seperator {
  box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
  padding-bottom: 10px;
}

label {
  display: block;
  width: 190px;
}

input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 190px;
}


/* DATE CHOOSER */
[type="date"] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* Column 2 - Main Results For matting and Styling */

.container {
  margin-left: 30px;
  margin-right: 30px;

}

.column-2 {
  margin-left: 40px;

}

/* Card Styling and Formatting */
.card {

  margin-bottom: 20px;
  /* margin-left: 30px; */
  /* margin-right: 5%; */
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  width: 95%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 2%;
  transition: 0.3s;

}

.restaurant {
  background-color: #f2cb055b;
}

.events {
  background-color: #04d9c452;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 6px 12px 0 rgba(255, 0, 191, 0.2);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.restImg {
  width: 150px;
  height: auto;
  top: 30px;
  float: left;
  margin: 20px;
  margin-right: 20px;
}

.textInfo {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

h4 {
  display: block !important;
  margin-block-start: .5em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.clear {
  font-size: small;
  float: right;
}

#clearSearch {
  color: #000;
  text-shadow: none;
  font-weight: bolder;
  text-decoration: underline;
  
}
.clear:hover {
  cursor: pointer;
}
/* scroll bar */

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  
    ::-webkit-scrollbar-track {
    background: 
  }

  

/* ======================Modal============================= */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:black;
  text-align: center;
}